/* This file contains the main styling information for the picture matching game
   Author: Baxter Madore: Main structure and most of the styling infoText
   Author: Ben Le: Added Comic Sans font support and glitch fixing
*/


/* Place for CSS variables *********************************/
:root {
  --distanceFromTop: 9.68rem;
  /*The distance between the top of the page and the top of the grid
Using em messes this up because em goes based on the font of the current element. 
For example, if titleSize was 3em, and the hieght of the title div was 3rem, that's
3 * the current font size, which makes the title div 9rem(!) high and destroys the 
formatting of the page. tl;dr: KEEP THE VARIABLES IN REM*/
  --titleSize: 6rem; /*The height size of the title div*/
}

/* HTML tag based styles ***********************************/
body {
  height: 100%;
  background-color: rgb(240, 231, 140);
}

img {
  /* Note the width is expanded so the images display properly
  within the grid */
  width: 113%;
  height: 100%;
}


/* id based styles *****************************************/
#grid {
  width: 69%; /*the middle three rows take about 69*.6=41.4%. Nice*/
  margin: auto;
  position: relative;
  top: calc(var(--distanceFromTop) - var(--titleSize));
  /*Makes the grid always be 9.68rem from the top, no matter how large the title font
    (the title font changes size between the "try again" and the word display) */
  user-select: none;
}

#volumeButton {
  display: inline;
  width: var(--titleSize); /*Make it as tall as the rest of the title bar*/
  height: var(--titleSize);
  margin-top: 1rem;
}

#volumeButton:hover {
  cursor: pointer;
}

#currWord {
  display: block;
  font-size: calc(var(--titleSize) - 1rem);
  position: relative;
  left: calc(var(--titleSize) * -0.4);
  /*Centers it better in the presence of the volume button*/
}

#restart {
  font-family: "Comic Sans MS";
  font-weight: bold;
  color: black;
  display: none;
}

#restart:hover {
  cursor: pointer;
  color: magenta;
}

/* class based styles **************************************/
.title {
  width: 35%;
  height: var(--titleSize);
  margin: auto;
  font-family: sans-serif;
  font-size: var(--titleSize);
  display: flex;
  justify-content: space-between;
  user-select: none;
}

.infoText {
  display: none;
  font-family: "Comic Sans MS";
  font-weight: bold;
  font-style: italic;
  font-size: 0.99em;
  color: black;
}

.resultImage {
  display: none;
}

.images {
  width: 35%;
  margin: auto;
}

.infoTextHolder {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center; /*center the text horizontally*/
  position: relative; /*center the text vertically*/
  top: calc(50% - 1.5rem);
  left: 0.3rem;
}

